<div>
    <h1 class="font-bold text-4xl text-blue-500">Signup - Step 3</h1>
    <p>Account details</p>
</div>
<%= form_with(model: @user, url: signup_step_4_path) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bio, value: "Bio - write few things about you" %>
    <%= form.text_area :bio, class: "block border border-grey-light w-full p-3 rounded mb-4"  %>
  </div>

  <div class="field">
    <%= form.label :wants, value: "Wants - tell others what are you looking for" %>
    <%= form.text_area :wants, class: "block border border-grey-light w-full p-3 rounded mb-4"  %>
  </div>

  <%= form.hidden_field :email %>
  <%= form.hidden_field :username %>
  <%= form.hidden_field :password %>

  <%= form.hidden_field :gender %>

  <%= form.submit "Next", class: "w-full text-center py-3 rounded bg-indigo-600 text-white hover:bg-green-dark focus:outline-none" %>

<% end %>
